<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/songs/index.css" />
<%- include('../partials/nav') %>

<main>
  <h1>Song List</h1>
  <table>
    <thead>
      <tr>
        <th>Song</th>
        <th>Artist</th>
        <th>Tour</th>
        <th>Album</th>
        <th>Year</th>
        <th>Genre</th>
        <% if (user) { %>
        <th>Delete</th>
        <th>Edit</th>
        <% } %>
      </tr>
    </thead>
    <tbody>
      <% songs.forEach(song => { %>
        <tr>
          <td><%= song.title %></td>
          <td><%= song.artist %></td>
          <td><a href="/songs/<%= song._id %>">
            TOUR DATES</a></td>
          <td><%= song.album %></td>
          <td><%= song.year %></td>
          <td><%= song.genre %></td>
          
          <% if (user) { %>
          <td>
           
            <form
              action="/songs/<%= song._id %>?_method=DELETE"
              method="POST"
            >
              <button class="button">X</button>
            </form>
          </td>
          <td>
            <a href="/songs/<%= song._id %>/edit">
                <button class="button">/</button>
            </a>
          </td>
          <% } %>
        </tr>
      <% }) %>
    </tbody>
  </table>
</main>

<%- include('../partials/footer') %>