<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/songs/show.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
    <div id="artist"><%= song.artist %></div>
    <br>
    <% if (song.tours.length) { %>
      <table>
        <thread>
            <tr>
                <th>Day</th>
                <th>Date</th>
                <th>Start</th>
                <th>Venue</th>
            </tr>
        </thread>
        <tbody>
            <% song.tours.forEach(tour => { %>
            <tr>
                <td><%= tour.day %></td>
                <td><%= tour.date %></td>
                <td><%= tour.start %></td>
                <td><%= tour.venue %></td>
            </tr>
            <% }) %>
        </tbody>
      </table>
    <% } else { %>
<h3>Not On Tour</h3>
<% } %>

<br>
<br>

<% if (user) { %>
<form 
  id="add-tour-form"
  action="/songs/<%= song._id %>/tours"
  method="POST"
>
  <label for="day">Day:</label>
  <select name="day" id="day-select">
    <option value="SUN">SUN</option>
    <option value="MON">MON</option>
    <option value="TUE">TUE</option>
    <option value="WED">WED</option>
    <option value="THUR">THUR</option>
    <option value="FRI">FRI</option>
    <option value="SAT">SAT</option>
  </select>
  
  <label for="date-input">Date:</label>
  <input type="text" name="date" id="date-input">

  <label for="start-input">Start:</label>
  <input type="text" name="start" id="start-input">

  <label for="venue-input">Venue:</label>
  <input type="text" name="venue" id="start-input">

  <button type="submit">Add Tour Date</button>
</form>
<% } %>
</main>
  
<%- include('../partials/footer') %>